body {
    background-color: black;
    color: white;
    font-size: 21px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 70px;
    color: aqua;
}


div {
    background: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

div {
    background: blue;
    color:red;
    font-size: 32px;
}